[DEFAULT]
dummy_check = dummy
date_window = 7
subscribers_input_file_path=data/subscribers_info.csv
subscribers_group_by_cols=['min_age_limit']
slots_resp_df_partial_cols=['vaccine','block_name','pincode','available_capacity']

# Email params
sender = dummy
recipients = dummy
email_subject = Vaccination Slot Notifier | Age : ${min_age_limit}+
email_message = Hurry up Guys. \n\nSlots available in ${district_name}, ${state_name}.\nDate:${date}\nAge:${min_age_limit}+\n{}\n\nThank You.\n\nRegards,\nRonak Prajapati,\nVaccine Slot Notifier India.
email_message_info_col = ['info']

# Header creation
user_agent_header_param = Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:32.0) Gecko/20100101 Firefox/32.0
accept_language_header_param = hi_IN
request_header = {'user_agent': '${user_agent_header_param}', 'accept': 'application/json', 'Accept-Language': '${accept_language_header_param}'}

# Public API Params
mobile = dummy
state_id = dummy
state_name = dummy
pin_code = dummy
date = dummy
district_id = dummy
district_name = dummy
min_age_limit = dummy

# Protected API Params
dose = dummy
session_id = dummy
slot = dummy
beneficiaries = dummy
appointment_id = dummy
beneficiariesToCancel = dummy

# API End-points
generateOTP_post = /v2/auth/public/generateOTP/
confirmOTP_post = /v2/auth/public/confirmOTP

generateOTP_post_url = ${base_api}${generateOTP_post}
confirmOTP_post_url = ${base_api}${confirmOTP_post}

# Metadata APIs
states_get = /v2/admin/location/states
districts_get = /v2/admin/location/districts/${state_id}
slot_check_by_pin_get = /v2/appointment/sessions/public/findByPin
slot_check_by_district_get = /v2/appointment/sessions/public/findByDistrict
slot_check_calenderByPin_get = /v2/appointment/sessions/public/calendarByPin
slot_check_calenderByDistrict_get = /v2/appointment/sessions/public/calendarByDistrict

slot_check_by_pin_extended = ?pincode=${pin_code}&date=${date}
slot_check_by_district_extended = ?district_id=${district_id}&date=${date}

states_get_url = ${base_api}${states_get}
districts_get_url = ${base_api}${districts_get}
slot_check_by_pin_url = ${base_api}${slot_check_by_pin_get}${slot_check_by_pin_extended}
slot_check_by_district_url = ${base_api}${slot_check_by_district_get}${slot_check_by_district_extended}
slot_check_calenderByPin_url = ${base_api}${slot_check_calenderByPin_get}${slot_check_by_pin_extended}
slot_check_calenderByDistrict_url = ${base_api}${slot_check_calenderByDistrict_get}${slot_check_by_district_extended}

schedule_appointment_get = /v2/appointment/schedule
reschedule_appointment_get = /v2/appointment/reschedule
cancel_appointment_get = /v2/appointment/cancel

certificate_get = /v2/registration/certificate/download
appointment_slip_get = /v2/appointment/appointmentslip/download

[test]
base_api = https://api.demo.co-vin.in/api
test_server_api_key = 3sjOr2rmM52GzhpMHjDEE1kpQeRxwFDr4YcBEimi

[stage]

[prod]
base_api = https://cdn-api.co-vin.in/api
